/******************* header syles *********************/

header {
    background-image: url(../html_advance/images/Header.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

header > a >img{
    margin-left: 100px;
    margin-top: 15px;
}

 .menu-container{
    float: right;
    width: 40%;
 }

 .menu-container > ul >li {
    display: inline-block;
    padding-right: 20px;
}

 .menu-container >ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    font-family: sans-serif;
 }


 .header-description > h1{
    text-align: center;
    font-size:  120px;
    margin-top: 140px;
    margin-bottom: 0px;
    font-weight: bold;
    color: #ffffff;

 }

 .header-description >div {
    width: 40%;
    margin: 0 auto;

 }

.header-description > div span{
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    padding: 20px;

}


.header-description >div >span:first-of-type{
    margin-left: 120px;

}

.header-description > button {
    width: 162px;
    height: 44px;
    background-color: #c271ff;
    border-radius: 5px;
    text-transform: uppercase;
    color: #ffffff;
    border: 0;
    display: block;
    margin: 50px auto;

}

.bottom-header {
    width: 100%;
    overflow: hidden;

}

.bottom-header > h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    font-family: sans-serif;

}


.bottom-header > h2 > span {
    color: #c271ff;

}


.persons-container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    display: block;

}

.persons-container .person {
    width: 24%;
    display: inline-block;

}

.persons-container .person > img {
    display: block;
    margin: 0 auto;

}
.persons-container .person > h3 , .persons-container .person > p {
    text-align: center;
}


/************************* header styles *********************/

/*************************** midle-menu ******************/

.midle-menu {
 padding: 100px;
 background-color: #c271ff;
 background-size: contain;
 background-repeat: no-repeat;
}

.midle-menu-img{
    width: 30%;
    display: inline-block;
    overflow: hidden;
}

.midle-menu-img > img {float:right}

.midle-menu-desc{
    width: 60%;
    display: inline-block;
    overflow: hidden;
}

.midle-menu-desc > p {
    margin:10px 0px 0px 40px ;
}

.midle-menu-desc > p:first-of-type{
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
}

.midle-menu-desc > p:last-of-type{
    font-size: 25px;
    color: #ffffff;
}

.midle-menu blockquote{
    font-size: 15px;
    width: 50%;
    font-weight: bold;
    color: #ffffff;
    font-family: sans-serif;
}



/*************************** midle-menu ******************/

/*****************video-container****************************/

.video-container{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.video{
    width: 24%;
    display: inline-block;
}

.video-container-text h1 {
    text-align: center;
    font-size: 30px;
    color: #000000;
    font-family: sans-serif;
    padding: 30px;
}

.video-container-text h1 > span {
    color: #c271ff;
}


.video> img {

    overflow: auto;
    display: inline;
}


.rating-container img {


}

.rating-container > div > p {
    width: 100px;
    float: right;
    margin: 0;
}