/* My style */

$fontsize: 14px;
$fontsizeh1: 16px;
$fontsizeh1s: 12px;

body {
    font-size: $fontsize; 

   h1 { 
      font-size: $fontsizeh1; 
    
     &.smaller { 
        font-size: $fontsizeh1s; 
        }
    }   
}